APP_NAME=BBVA RAG Assistant
APP_ENV=development
APP_PORT=8000

POSTGRES_DB=rag_db
POSTGRES_USER=rag_user
POSTGRES_PASSWORD=rag_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

QDRANT_HOST=qdrant
QDRANT_PORT=6333